[Unit]
Description=Supervisor Daemon
After=network.target network-online.target

[Service]
Type=simple
ExecStart={{mod_wsgi_express}} -c /etc/supervisor/supervisord.conf
KillMode=process
KillSignal=SIGINT
Restart=on-failure

[Install]
WantedBy=multi-user.target
